In [13]:
import pandas as pd
import re

In [2]:
file_name = 'phase_turbo.csv'

In [3]:
df = pd.read_csv(file_name)

In [4]:
df

        PMID                                            Answers
0   30738380  Q: Does the article mention something like sub...
1   31264510  Q: Does the article mention something like sub...
2   25822479  Q: Does the article mention something like sub...
3   26016467  Q: Does the article mention something like sub...
4   17628435  Q: Does the article mention something like sub...
5   27371157  Q: Does the article mention something like sub...
6    9442338  Q: Does the article mention something like sub...
7   33691517  Q: Does the article mention something like sub...
8    8905533  Q: Does the article mention something like sub...
9   23968123  Q: Does the article mention something like sub...
10  24419307  Q: Does the article mention something like sub...
11  16754836  Q: Does the article mention something like sub...
12  20728875  Q: Does the article mention something like sub...
13  19637398  Q: Does the article mention something like sub...
14  20033907  Q: Does the article mention something like sub...
15  19956085  Q: Does the article mention something like sub...
16  18381905  Q: Does the article mention something like sub...
17  26900078  A: \n\nYes, the article mentions healthy volun...
18  23303043  Q: Does the article mention something like sub...
19  11343682  Q: Does the article mention something like sub...
20  24549101  Q: Does the article mention something like sub...
21  26940805  Q: Does the article mention something like sub...
22   9718289  Q: Does the article mention something like sub...
23  15474895  Q: Does the article mention something like sub...
24   1715608                                                 NO

In [34]:
answers = []
for index, row in df.iterrows():
    curr_answer = str(row['Answers'])
    query = re.findall("A:\s[\w]*", curr_answer)
    ans = []
    for ele in query:
        ele = ele[3:].lower()
        ans.append(ele)
    print("NEXT")
    answers.append(ans)
print(answers)

NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
NEXT
[['yes', '227', 'no'], ['yes', '95', 'no'], ['yes', '100', 'no'], ['yes', 'there', 'no'], ['yes', '73', 'no'], ['yes', '68', 'no'], ['yes', '9', 'no'], ['yes', 'a', 'no'], ['yes', '66', 'no'], ['yes'], ['yes', '21', 'no'], ['yes', '12', 'no'], ['yes', '16', 'no'], ['yes', '18', 'no'], ['yes', '139', 'no'], ['yes', '16', 'no'], ['yes', '31', 'no'], [''], ['yes', '185', 'no'], ['yes', '11', 'no'], ['yes', '215', 'no'], ['yes', '207', 'no'], ['yes', '20', 'no'], ['yes', '22', 'no'], []]